body{
    font-family: 'Lora',sans-serif;
    color: #1c1c1c;
    padding: 0%;
    margin: 0%;
}
h1{
    font-family: 'font-family: 'Roboto Condensed', sans-serif;',sans-serif;
    color: #FFFFFF;
}
 h2, h3 {
    align-items: center;
    font-family: 'font-family: 'Roboto Condensed', sans-serif;',sans-serif;
    color: #1c1c1c;
    image-rendering: 50%;
}

#jaj {
    align-items: center;
    font-family: 'font-family: 'Roboto Condensed', sans-serif;',sans-serif;
    color: #1c1c1c;
    image-rendering: 30%;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bb7d0a;
}
nav > a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: 'font-family: 'Roboto Condensed', sans-serif;',sans-serif;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}
nav ul li{
    text-align: center;
    width: 100%;
}
nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bb7d0a;
    text-decoration: #FFFFFF;
    background-image: url("../img/dada.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
header p{
    margin-bottom: 2em;
}
#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #bb7d0a;
    color: #FFFFFF;
}
#sobre h3{
color: #FFFFFF;
}
#sobre p{
   margin-bottom: 2.5em;
   max-width: 1000px;
}
.botao{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #bb7d0a;
    font-size: .9em;
    border-radius: 5px;
}
#sobre .botao{
    background-color: #f1f1f1;
    color: #1c1c1c;

}
#importancia{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #000000;
    color: #FFFFFF;
}
#importancia p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}
#importancia h3{
    color: #f1f1f1;

}
#historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color:rgba(214, 145, 16, 0.8);
    color: #FFFFFF;
}
